@import "../variables";

.home-outer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  // width: 100%;

  padding: 20px;
  .home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .home-header-second {
    @media (max-width: 766px) {
      gap: 8px;
      flex-direction: column-reverse !important;
      align-items: flex-start !important;
    }
  }
  @media (max-width: 766px) {
    width: 100%;
  }
}
