@import "../variables";

.task-form {
  .task-input {
    width: 400px;
    flex: 1;
    padding: 10px 14px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    &:focus {
      border-color: $on-container-light;
      outline: none;
    }
    @media (max-width: 766px) {
      width: 200px;
    }
  }
  @media (max-width: 766px) {
    width: 100%;
  }
}

.light-theme {
  .task-input {
    background-color: $background-light;
    color: $text-light;
    border: 1px solid lighten($on-container-dark, 30%);
  }
}

.dark-theme {
  .task-input {
    background-color: $on-secondary-container-dark;
    color: $text-dark;
    border: 1px solid darken($on-container-light, 20%);
  }
}
