@import "../variables";

.task-list {
  .task-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 10px;
    padding: 10px;

    margin-bottom: 8px;
    border-radius: 8px;

    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.3s ease-out forwards;
  }

  .task-header {
    font-weight: 800;
    color: $text-light;
  }

  .task-row.completed {
    opacity: 0.6;
  }

  button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.light-theme {
  .task-row {
    background-color: $on-container-light;
    color: $text-light;
    .done {
      background-color: #ccc;
    }

    .pending {
      background-color: $primary-color;
      color: #fff;
    }

    .delete {
      background-color: $secondary-color;
      color: #fff;
    }
  }
}

.dark-theme {
  .task-row {
    background-color: $on-container-dark !important;
    color: $text-dark;
  }

  .task-header {
    color: $text-dark;
  }

  .pending {
    background-color: $primary-dark;
  }

  .delete {
    background-color: $secondary-dark;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
